$primary: #fac42b; // BRKE Yellow
$link-color: darken($primary, 25%);
$font-family-base: 'Noto Sans';
$font-family-monospace: 'Noto Sans Mono';

@import 'bootstrap/scss/bootstrap.scss';

.fs-sm {
  font-size: $font-size-sm;
}

blockquote {
  position: relative;

  margin-left: 28px;
  border-left: 4px solid $primary;
  padding-left: 8px;

  font-style: italic;
}

blockquote::before {
  content: '\F6B0';

  position: absolute;
  top: -12px;
  left: -32px;

  rotate: 180deg;

  font-family: bootstrap-icons;
  font-size: 30px;
}

blockquote footer {
  text-align: right;
}

blockquote cite {
  font-style: normal;
  font-size: smaller;
}
